body{
    background-color: #146eb4;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: right;
    overflow: hidden;
    background-color: #232f3e;
    font-family: 'Times New Roman', Times, serif; 
    
}
li {
    float: right;
    
}
li a{
    display: block;
    color: white;
    text-align: right;
    padding: 16px 16px;
    text-decoration: none;
    }
li a:hover{
    background-color: #ff9900;
}